/* Import from Google fonts */  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Stardos+Stencil:wght@400;700&display=swap');

/* Asterisk wildcard selector so it will override default styles that's added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #fafafa;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    color: #fafafa;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid #4f0e96;
}

#logo {
    font-family: "Stardos Stencil", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Navbar with dropdown toggle */
nav {
    position: absolute;
    background-color: #1a1a1a;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    left: 0;
    padding-left: 16px;
    top: 100%;
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    z-index: 99;
    align-self: center;
}

#menu {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 10px;
}

#menu > li {
    margin-bottom: 1em;
}

.selected {
    border-bottom: 3px solid #4f0e96;
}

/* Main content */
main {
    background-color: #5D6AFF;
    /* Make main take up any surplus space so the footer stays at the bottom of the page */ 
    flex: 1 0 auto;
    /* Add margin at the top of the page so the header doesn't hide thee content */
    margin-top: 44px;
    /* To makae it possible with flex for child elements */ 
    display: flex;
    flex-direction: column;
}

/* Hero section home page*/
#home-hero-img {
    background: url("../images/concert-audience4.jpg") no-repeat 62% / cover;
    width: 100%;
    height: 500px;
    position: relative;
}

#home-img-text {
    /* To add a purple shade to the hero image */
    width: 90%;
    top: 1rem;
    padding: 1rem 2rem 0 1.5rem;
    position: absolute;
}

#home-img-text > h2 {
    font-size: 185%;
    margin-bottom: 0.5rem;
}

#home-img-text > h3 {
    color: #000837;
}

/* Link designed to look like a button */
#find-concerts-button {
    background-color: #4f0e96;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
    font-size: 110%;
    width: fit-content;
}

/* About us section */
#about-us {
    padding: 1.5rem;
    background-color: #010439;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about-us h2, #about-us h3 {
    padding-bottom: 0.5rem;
}

#goals {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#goals hr {
    border: 2px solid #4f0e96d6;
    width: 30%;
    align-self: center;
    border-radius: 50%;
    margin: 0.8rem
}

/* Circle image at the bottom of the page */
#circle-img {
    background: url("../images/live-audience.jpg") no-repeat center / cover;
    width: 80vw;
    height: 80vw;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    align-self: center;
    margin: 1rem;
}

/* Footer */

#social-media {
    background-color: #4f0e96;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    list-style-type: none;
}

#social-media i {
    color: #fafafa;
    font-size: 180%;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    /* Main content */
    #home-hero-img {
        height: 320px;
    }

    #home-img-text {
        width: 370px;
        left: 2rem;
    }

    #home-img-text h3 {
        width: 280px;
        padding-top: 5px;
    }

    #find-concerts-button {
        padding: 0.6rem;
        font-size: 100%;
    }

    #goals {
        margin: 0.5rem 4rem;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */

    main {
        margin-top: 61px;
    }

    #menu {
        display: flex;
    }
    
    #menu li {
        padding-left: 1rem;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        background-color: #000000;
        box-shadow: none;
    }
    
    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 260%;
    }

    /* Main content */
    #home-img-text {
        top: 2rem;
        left: 3rem
    }

    #find-concerts-button {
        padding: 0.8rem;
        font-size: 120%;
    }

    #goals {
        margin: 0.5rem 6rem;
    }

    /* Footer */
}