/* Import from Google fonts */  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Stardos+Stencil:wght@400;700&display=swap');

/* Asterisk wildcard selector so it will override default styles that's added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #2e2e2e;
    font-family: "Inter", sans-serif;
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

header a {
    color: #fafafa;
    text-decoration: none;
}

h1 {
    font-family: "Stardos Stencil", sans-serif;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 1px;
}

i {
    z-index: 99;
}

/* Navbar with dropdown toggle */
nav {
    position: absolute;
    background-color: #1a1a1a;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    left: 0;
    padding-left: 16px;
    top: 100%;
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#menu {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 10px;
}

#menu > li {
    margin-bottom: 1em;
}

.selected {
    border-bottom: 2px solid #727272;
}

/* Main content */
main {
    background-color: pink;
    /* Make main take up any surplus space so the footer stays at the bottom of the page */ 
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: purple;
}