/* Import from Google fonts */  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Stardos+Stencil:wght@400;700&display=swap');

/* Asterisk wildcard selector so it will override default styles that's added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic styles */
    color: #fafafa;
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Stardos Stencil", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2, h3 {
    font-family: "Inter", sans-serif;
}

hr {
    border: 2px solid purple;
    width: 100%
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 98;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 4px solid #4f0e96;
}

header a {
    color: #fafafa;
    text-decoration: none;
}

/* Navbar with dropdown toggle */
nav {
    position: absolute;
    background-color: #1a1a1a;
    width: 100%;
    box-shadow: 0 2px 3px #2e2e2e;
    left: 0;
    padding-left: 16px;
    top: 100%;
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    z-index: 99;
    align-self: center;
}

#menu {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 2px;
    padding-top: 10px;
}

#menu > li {
    margin-bottom: 1em;
}

.selected {
    border-bottom: 2px solid #727272;
}

/* Main content */
main {
    background-color: rgb(11, 39, 164);
    /* Make main take up any surplus space so the footer stays at the bottom of the page */ 
    flex: 1 0 auto;
    /* Add margin at the top of the page so the header doesn't hide thee content */
    margin-top: 44px;
    /* To makae it possible with flex for child elements */ 
    display: flex;
    flex-direction: column;
}

/* Hero section home page*/
#home-hero-img {
    background: url("../images/concert-audience4.jpg") no-repeat 65% / cover;
    width: 100%;
    height: 500px;
    position: relative;
}

#home-img-text {
    /* To add a purple shade to the hero image */
    width: 100%;
    top: 1rem;
    padding: 1.5rem 2rem;
    position: absolute;
}

#home-img-text > h2 {
    font-size: 185%;;
}

#home-img-text > h3 {
    color: #000837;
}

#find-concerts-button {
    background-color: #4f0e96;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
    border-radius: 30px;
}

#find-concerts-button a {
    color: #fafafa;
    text-decoration: none;
    font-size: 120%;
}

#about-us {
    padding: 1rem;
    background-color: #010439;
    display: flex;
    flex-direction: column;
}

#about-us h2,
#about-us h3 {
    text-align: center;
    padding-bottom: 0.5rem;
}

#goals {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#goals li {
    padding: 0.5rem;
}

#goals hr {
    border: 2px solid #4f0e96d6;
    width: 30%;
    align-self: center;
    border-radius: 50%;
}

#circle-img {
    background: url("../images/live-audience.jpg") no-repeat center / cover;
        width: 80vw;
        height: 80vw;
        max-width: 450px;
        max-height: 450px;
        border-radius: 50%;
        align-self: center;
        margin: 1rem;
}

/* Footer */

#social-media {
    background-color: #4f0e96;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    list-style-type: none;
}

#social-media i {
    color: #fafafa;
    font-size: 180%;
}